.column-right {
  background-color: white;
  font-size: 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Text intro*/
.text-wrapper {
  width: 30em
}

p {
  margin-bottom: 1em
}

em {
  font-style: italic
}

/* Formulary */
.formulary{
  margin-top: 1em
}

.call-to-action {
  margin-bottom: 1em
}

/* inputs grid */
.input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* input wrapper style */
.input-wrapper {
  padding-bottom: 1em;
  margin-bottom: 1em;

  box-shadow: 0px 5px 10px #aaa;
}

/* input styling */
.input-wrapper > div {
  margin: 0.5em 3em;
}

label {
  display: block;
  text-transform: uppercase;
  color: #555;

  font-size: 0.8rem;
  font-weight: 600;
  font-family: sans-serif;

  margin-bottom: 5px;
}

input {
  border: none;
  border-radius: 5px;
  padding:0.4em 0;
  padding-left: 0.5em;
}

/* submit */
.formulary button {
  background-color: rgb(26, 148, 32);
  color: white;

  font-size: 1rem;
  font-weight: 600;

  padding: 0.6em 2.4em;
  border-radius: 0.8em;

  border-style: none;

  box-shadow: 0px 0px 2px #000;
}

.submit-wrapper{
  margin-top: 2em;
}

.submit-wrapper p{
  margin-top: 1em;
  font-size: 0.8em;
}
