body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body > div {
  height: 100vh;
}

.column-left {
  background-color: lightcoral;
}

.column-right {
  background-color: lightgreen
}
